* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  src: url(".css/font/Poppins-ExtraLight.tff");
  line-height: 1.5;
  padding: 20px;
  background-color: seashell;
}

h1,
h2 {
  color: black;
  padding: 10px;
  margin: 0;
}

.more {
  color: black;
  text-decoration: underline;
}
.html {
  list-style: url(/img/html.svg);
  padding: 10px;
  margin-left: 50px;
}
.css {
  list-style: url(/img/css.svg);
  padding: 10px;
  margin-left: 40px;
}

.goto-top {
  width: 35px;
  height: 24px;
  padding: 12px;
  border-radius: 18%;
  background: black;
  color: white;
  text-decoration: noneunderline;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: fixed;
  bottom: 10%;
  left: 5%;
}
